
<div class="container-fluid">
    <div class="row">
      <div class="col-md-4">
        <mat-card class="user-info-card">
          <mat-card-header>
            <mat-card-title>Address</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <p><strong>Country:</strong> {{ patientAddress?.country }}</p>
            <p><strong>Province:</strong> {{ patientAddress?.province }}</p>
            <p><strong>City:</strong> {{ patientAddress?.city }}</p>
            <p><strong>Zip Code:</strong> {{ patientAddress?.zipCode }}</p>
            <p><strong>Street:</strong> {{ patientAddress?.street }}</p>
            <p><strong>Local Number:</strong> {{ patientAddress?.localNumber }}</p>
          </mat-card-content>
        </mat-card>
      </div>

    </div>
  </div>