<div class="container mt-5">
    <div class="row mb-4">
      <div class="col-md-12">
        <button mat-stroked-button color="accent" (click)="navDashboard()">
          Back to Dashboard
        </button>
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Filtry</h5>
            <form (ngSubmit)="applyFilter()">
              <div class="form-row">

                <div class="col-md-4">
                  <mat-form-field appearance="fill" class="w-100">
                    <mat-label>Manufacturer</mat-label>
                    <mat-select [(ngModel)]="filter.category" name="Manufacturer" (selectionChange)="applyFilter()">
                      <mat-option value="">All</mat-option>
                      <mat-option value="COMPLETED">Completed</mat-option>
                      <mat-option value="PENDING">Pending</mat-option>
                      <mat-option value="CANCELLED">Cancelled</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>

                <div class="col-md-4">
                    <mat-form-field appearance="fill" class="w-100">
                      <mat-label>Category</mat-label>
                      <mat-select [(ngModel)]="filter.category" name="Category" (selectionChange)="applyFilter()">
                        <mat-option value="">All</mat-option>
                        <mat-option value="COMPLETED">Completed</mat-option>
                        <mat-option value="PENDING">Pending</mat-option>
                        <mat-option value="CANCELLED">Cancelled</mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>

                  <div class="col-md-4">
                    <mat-form-field appearance="fill" class="w-100">
                      <mat-label>Medicine's Name</mat-label>
                      <input matInput [(ngModel)]="filter.name" name="name" (ngModelChange)="applyFilter()" placeholder="Search by name">
                    </mat-form-field>
                  </div>
              </div>
              <button mat-raised-button color="primary" type="submit">Apply filters</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  
    <div class="row mb-4">
      <div class="col-md-12">
        <div class="card">
          <div class="card-body">
            <div class="col-md-12 d-flex justify-content-between align-items-center">
                <h4 class="card-title">Medicine list</h4>
                <button mat-raised-button color="primary" (click)="navigateToCreateMedicine()">
                    <mat-icon>add</mat-icon> Add Medicine
                  </button>
                </div>
            <div *ngIf="isLoading" class="text-center">
              <mat-spinner></mat-spinner>
            </div>
            <div *ngIf="!isLoading && medicines.length === 0">
              <p>No appointments that meet required criteria.</p>
            </div>
            <div *ngIf="medicines.length > 0">
              <table mat-table [dataSource]="medicines" class="table">
                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef> Medicine name </th>
                    <td mat-cell *matCellDef="let medicine">
                        {{ medicine.name }}
                    </td>
                </ng-container>
            
                <ng-container matColumnDef="manufacturer">
                    <th mat-header-cell *matHeaderCellDef> Manufacturer </th>
                    <td mat-cell *matCellDef="let medicine"> {{ medicine.manufacturer }} </td>
                </ng-container>
            
                <ng-container matColumnDef="category">
                    <th mat-header-cell *matHeaderCellDef> Category</th>
                    <td mat-cell *matCellDef="let medicine">
                        {{ medicine.category }}
                    </td>
                </ng-container>

                <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef> </th>
                    <td mat-cell *matCellDef="let medicine">
                        <button mat-icon-button color="primary" (click)="showMedicineDetails(medicine.id)">
                            <mat-icon>info</mat-icon>
                        </button>
                        <button mat-icon-button color="accent" (click)="navigateToEditMedicine(medicine.id)">
                            <mat-icon>edit</mat-icon>
                        </button>
                        <button mat-icon-button color="warn" (click)="deleteMedicineDialog(medicine.id)">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </td>
                </ng-container>
            
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  
    <div class="row">
      <div class="col-md-12 text-center">
        <mat-paginator 
          [length]="totalElements" 
          [pageSize]="filter.size" 
          [pageIndex]="filter.page"
          [pageSizeOptions]="[5, 10, 20]" 
          (page)="onPageChange($event)">
        </mat-paginator>
      </div>
    </div>
    
  </div>
  