<div class="container">
  <h2>Add Prescription</h2>
  <form [formGroup]="prescriptionForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="medicine">Select Medicine:</label>
        <select 
        class="form-control" 
        formControlName="medicineId" 
        (ngModelChange)="selectedMedicine = $event" 
        [ngModel]="selectedMedicine?.id"> 
        <option *ngFor="let medicine of filteredMedications" 
                [value]="medicine.id">
          {{ medicine.name }}
        </option>
      </select>
      
      <div *ngIf="selectedMedicine">
        Selected Medicine: {{ selectedMedicine.name }} 
      </div> 
    </div>
  
    <div class="form-group">
      <label for="quantity">Quantity:</label>
      <input 
        type="number" 
        class="form-control" 
        formControlName="quantity"
        placeholder="Enter quantity"
      />
    </div>
  
    <div class="form-group">
      <label for="instruction">Instructions:</label>
      <textarea 
        class="form-control" 
        formControlName="instruction"
        rows="3" 
        placeholder="Enter instructions"
      ></textarea>
    </div>
  
    <button type="submit" class="btn btn-primary" [disabled]="prescriptionForm.invalid">
      Submit Prescription
    </button>
  </form>  
</div>
