<div class="container">
  <h2>Add Prescription</h2>
  <form [formGroup]="prescriptionForm" (ngSubmit)="onSubmit()">


    <div class="form-group">
      <label for="medicine">Medicine:</label>
      <select class="form-control" id="medicine" formControlName="medicineId">
        <option *ngFor="let medicine of medications" [value]="medicine.id">
          {{ medicine.name }}
        </option>
      </select>
    </div>

    <div class="form-group">
      <label for="quantity">Quantity:</label>
      <textarea
        class="form-control"
        id="quantitiy"
        formControlName="quantitiy"
      ></textarea>
    </div>

    <div class="form-group">
      <label for="instruction">Instruction:</label>
      <textarea
        class="form-control"
        id="instruction"
        formControlName="instruction"
      ></textarea>
    </div>

    <div class="form-group d-flex justify-content-between">
      <button
        type="button"
        class="btn btn-secondary"
        (click)="onCancel()"
      >
        Cancel
      </button>
      <button
        type="submit"
        class="btn btn-primary"
        [disabled]="!prescriptionForm.valid"
      >
        Submit
      </button>
    </div>
  </form>
</div>
