<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #sidenav mode="side" opened class="sidenav">
      <div class="sidenav-content">
        <button mat-button (click)="navigateProfile()">My profile</button>
        <button mat-button (click)="bookAppointment()">Book Appointment</button>
        <button mat-button (click)="navigateAppointments()">View Appointments</button>
        <button mat-button (click)="navigatePatients()">View Patients</button>
        <button mat-button (click)="navigateMedicines()">View Medicine List</button>
        <button mat-button (click)="logout()">Logout</button>
      </div>
    </mat-sidenav>
  
    <mat-sidenav-content class="content">
      <div class="col-md-8">
        <mat-card class="appointments-card">
          <mat-card-header>
            <mat-card-title>Upcoming Appointments</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <div *ngIf="appointments?.length === 0; else appointmentsList">
              <p>No appointments yet.</p>
            </div>
            <ng-template #appointmentsList>
              <ul class="list-group">
                <li *ngFor="let appointment of appointments" class="list-group-item d-flex justify-content-between align-items-center">
                  <div>
                    <strong>{{ appointment.appointmentDate | date }} - {{appointment.status}}</strong><br />
                  </div>
                  <div>
                    <!-- Manage Button -->
                    <button 
                      mat-raised-button 
                      color="primary" 
                      (click)="manageAppointment(appointment.appointmentId)" 
                      class="btn btn-light">
                      Manage
                    </button>
                  </div>
                </li>
              </ul>
            </ng-template>
            <full-calendar [options]="calendarOptions"></full-calendar>
          </mat-card-content>
        </mat-card>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
  