.sidenav-container {
    height: 100vh;
  }
  
  .sidenav {
    background-color: #f4f4f4;
    padding-top: 20px;
  }
  
  .content {
    padding: 20px;
  }
  
  .mat-card {
    margin-bottom: 20px;
  }
  
  .user-info-card, .appointments-card {
    padding: 15px;
  }
  
  .sidenav-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  button.mat-button {
    text-align: left;
    width: 100%;
  }
  
  .calendar-container {
    max-width: 900px;
    margin: 20px auto;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
  }
  
  .actions {
    text-align: center;
  }
  button {
    margin: 0 5px;
  }
  