<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #sidenav mode="side" opened class="sidenav">
      <div class="sidenav-content">
        <button mat-button (click)="navigateProfile()">My profile</button>
        <button mat-button (click)="navigateAppointments()">View Appointments</button>
        <button mat-button (click)="navigatePatients()">View Patients</button>
        <button mat-button (click)="navigateMedicines()">View Medicine List</button>
        <button mat-button (click)="logout()">Logout</button>
      </div>
    </mat-sidenav>
  
    <mat-sidenav-content class="content">
      <div class="col-md-8">
        <mat-card class="appointments-card">
          <mat-card-header>
            <mat-card-title>Upcoming Appointments</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <full-calendar [options]="calendarOptions"></full-calendar>
          </mat-card-content>
        </mat-card>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
  