<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav mode="side" opened class="sidenav">
    <div class="sidenav-content">
      <button mat-button (click)="bookAppointment()">Book Appointment</button>
      <button mat-button (click)="viewDoctors()">View Doctors</button>
      <button mat-button (click)="viewBillings()">View Billings</button>
      <button mat-button (click)="viewAppointments()">View Appointments</button>
      <button mat-button (click)="viewProfile()">View Profile</button>
      <button mat-button (click)="logout()">Logout</button>
    </div>
  </mat-sidenav>

  <mat-sidenav-content class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-8">
          <mat-card class="appointments-card">
            <mat-card-header>
              <mat-card-title>Pending Charges</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <div *ngIf="billings?.length === 0; else billingsList">
                <p>No billings yet.</p>
              </div>
              <ng-template #billingsList>
                <ul class="list-group">
                  <li *ngFor="let billing of billings" class="list-group-item">
                    <strong>{{ billing.billingDate | date: 'yyyy-MM-dd HH:mm' }} - {{ billing.amount }}</strong>
                    <button mat-button (click)="showBillingDetails(billing.id)">Show details</button><br />
                  </li>
                </ul>
              </ng-template>
              <full-calendar [options]="calendarOptions"></full-calendar>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
