<h1 mat-dialog-title> {{ appointmentDetails.appointmentType }} </h1>
<div mat-dialog-content>
    <p><strong>Date:</strong> {{ appointmentDetails.appointmentDate }}</p>
    <p><strong>Time: </strong> {{ appointmentDetails.appointmentTime }}</p>
    <p><strong>Status:</strong> {{ appointmentDetails.status }}</p>
    <p><strong>Description:</strong> {{ appointmentDetails.visitDescription }}</p>
    <p><strong>Patient:</strong> {{ appointmentDetails.patientName }}</p>
    <p><strong>Notes:</strong> {{ appointmentDetails.notes }}</p>
    <p *ngIf="appointmentDetails.status === 'CANCELLED'"><strong>Cancel Reason:</strong> {{ appointmentDetails.cancellationReason}}</p>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="close()">Close</button>
    <button 
    mat-raised-button 
    *ngIf="appointmentDetails.status === 'PENDING'"
    color="green" 
    (click)="manageAppointment(appointmentDetails.appointmentId)">
    Manage appointment
  </button>
</div>