<div class="container d-flex justify-content-center align-items-center vh-100">
    <div class="col-md-6 col-lg-4">
        <mat-card class="p-4 shadow">
            <mat-card-title class="text-center">Login</mat-card-title>
            <mat-card-content>
                <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                    <div class="mb-3">
                        <mat-form-field appearance="fill" class="w-100">
                            <mat-label>Email</mat-label>
                            <input matInput formControlName="email" />
                            <mat-error *ngIf="loginForm.get('email')?.hasError('required')">
                                Email is required
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="mb-3">
                        <mat-form-field appearance="fill" class="w-100">
                            <mat-label>Password</mat-label>
                            <input matInput type="password" formControlName="password" />
                            <mat-error *ngIf="loginForm.get('password')?.hasError('required')">
                                Password is required
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <button mat-raised-button color="primary" type="submit" class="w-100 mb-2">Login</button>
                </form>
                <button mat-raised-button color="accent" class="w-100" (click)="navigateToRegister()">Register</button>
            </mat-card-content>
        </mat-card>
    </div>
</div>
