<div class="container-fluid">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <mat-card class="user-info-card">
        <mat-card-header>
          <mat-card-title>User Information</mat-card-title>
          <button mat-button *ngIf="!isEditing" (click)="toggleEdit()">Edit</button>
        </mat-card-header>
        <mat-card-content>
          <!-- Display Information -->
          <div *ngIf="!isEditing">
            <p><strong>Name:</strong> {{ patientInfo?.firstName }} {{ patientInfo?.lastName }}</p>
            <p><strong>Email:</strong> {{ patientInfo?.email }}</p>
            <p><strong>Phone:</strong> {{ patientInfo?.phoneNumber }}</p>
            <p><strong>Birthdate:</strong> {{ patientInfo?.birthDate | date }}</p>
          </div>

          <!-- Edit Form -->
          <form *ngIf="isEditing" [formGroup]="contactForm" (ngSubmit)="saveContactInfo()">
            <mat-form-field appearance="outline" class="full-width">
              <mat-label>First Name</mat-label>
              <input matInput id="firstName" formControlName="firstName" />
            </mat-form-field>
            <mat-form-field appearance="outline" class="full-width">
              <mat-label>Last Name</mat-label>
              <input matInput id="lastName" formControlName="lastName" />
            </mat-form-field>
            <mat-form-field appearance="outline" class="full-width">
              <mat-label>Email</mat-label>
              <input matInput id="email" formControlName="email" />
            </mat-form-field>
            <mat-form-field appearance="outline" class="full-width">
              <mat-label>Phone</mat-label>
              <input matInput id="phone" formControlName="phoneNumber" />
            </mat-form-field>
            <div class="form-actions">
              <button mat-raised-button color="primary" type="submit" [disabled]="contactForm.invalid">
                Save
              </button>
              <button mat-button type="button" (click)="toggleEdit()">Cancel</button>
            </div>
          </form>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
