<mat-sidenav #sidenav mode="side" opened class="sidenav">
  <div class="sidenav-content">
    <button mat-button (click)="bookAppointment()">Book Appointment</button>
    <button mat-button (click)="viewDoctors()">View Doctors</button>
    <button mat-button (click)="viewBillings()">View Billings</button>
    <button mat-button (click)="viewAppointments()">View Appointments</button>
    <button mat-button (click)="viewProfile()">View Profile</button>
    <button mat-button (click)="logout()">Logout</button>
  </div>
</mat-sidenav>