.container-fluid {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .health-details-card {
    width: 100%;
    max-width: 500px;
    padding: 20px;
  }
  
  .mat-form-field {
    width: 100%;
  }
  
  .mat-card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .text-center {
    text-align: center;
  }
  