<div class="sidenav-content">
  <button mat-button (click)="logout()">Logout</button>
</div>

<div class="container mt-4">
  <div class="row justify-content-center">
    <div class="col-md-4 mb-4">
      <mat-card class="admin-card text-center">
        <mat-card-header>
          <mat-card-title>Doctors</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>Manage doctor accounts.</p>
          <button mat-raised-button color="primary" (click)="navigateToDoctorOptions()">Go to Doctors</button>
        </mat-card-content>
      </mat-card>
    </div>

    <div class="col-md-4 mb-4">
      <mat-card class="admin-card text-center">
        <mat-card-header>
          <mat-card-title>Patients</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>Manage patient accounts.</p>
          <button mat-raised-button color="accent" (click)="navigateToPatientOptions()">Go to Patients</button>
        </mat-card-content>
      </mat-card>
    </div>

    <div class="col-md-4 mb-4">
      <mat-card class="admin-card text-center">
        <mat-card-header>
          <mat-card-title>Medicine</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>Manage medicine.</p>
          <button mat-raised-button color="warn" (click)="navigateToMedicineOptions()">Go to Medicine</button>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
