<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow">
                <div class="card-header header-custom d-flex justify-content-between align-items-center">                    
                    <h5>Change Password</h5>
                    <mat-icon>lock</mat-icon>
                </div>
                <div class="card-body">
                    <form (ngSubmit)="onSubmit()" #passwordForm="ngForm">
                        <div class="mb-3">
                            <label for="password" class="form-label">Current Password</label>
                            <input
                                type="password"
                                id="password"
                                class="form-control"
                                required
                                [(ngModel)]="password"
                                name="password"
                            />
                        </div>
                        <div class="mb-3">
                            <label for="newPassword" class="form-label">New Password</label>
                            <input
                                type="password"
                                id="newPassword"
                                class="form-control"
                                required
                                [(ngModel)]="newPassword"
                                name="newPassword"
                            />
                        </div>
                        <div class="mb-3">
                            <label for="confirmPassword" class="form-label">Confirm New Password</label>
                            <input
                                type="password"
                                id="confirmPassword"
                                class="form-control"
                                required
                                [(ngModel)]="confirmPassword"
                                name="confirmPassword"
                            />
                        </div>
                        <div class="text-center">
                            <button type="submit" class="btn btn-success">
                                <mat-icon>check_circle</mat-icon> Change Password
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
