<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav mode="side" opened class="sidenav">
    <div class="sidenav-content">
      <button mat-button (click)="setActiveTab('info')">User Info</button>
      <button mat-button (click)="setActiveTab('address')">Address</button>
      <button mat-button (click)="setActiveTab('health-details')">Health Details</button>
      <button mat-button (click)="setActiveTab('change-password')">Change Password</button>
      <button mat-button (click)="navDashboard()">Dashboard</button>
    </div>
  </mat-sidenav>

  <mat-sidenav-content>
    <div class="main-content">
      <ng-container *ngIf="activeTab === 'info'">
        <app-patient-details></app-patient-details>
      </ng-container>

      <ng-container *ngIf="activeTab === 'address'">
        <app-patient-address></app-patient-address>
      </ng-container>

      <ng-container *ngIf="activeTab === 'health-details'">
        <app-health-details></app-health-details>
      </ng-container>

      <ng-container *ngIf="activeTab === 'change-password'">
        <app-change-password></app-change-password>
      </ng-container>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
