<div class="container mt-5">
    <div class="row mb-4">
      <div class="col-md-12">
        <button mat-stroked-button color="accent" (click)="navDashboard()">
          Back to Dashboard
        </button>
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Filters</h5>
            <form (ngSubmit)="applyFilter()">
              <div class="form-row">
                <div class="col-md-4">
                  <!-- <mat-form-field appearance="fill" class="w-100">
                    <mat-label>Doctors specialization</mat-label>
                    <mat-select [(ngModel)]="filter.specialization" name="specialization" (selectionChange)="applyFilter()">
                      <mat-option value="">All</mat-option>
                      <mat-option value="Dentist">Dentist</mat-option>
                      <mat-option value="Surgeon">Surgeon</mat-option>
                    </mat-select>
                  </mat-form-field> -->
                </div>
                <div class="col-md-4">
                    <mat-form-field appearance="fill" class="w-100">
                      <mat-label>Doctor's Name</mat-label>
                      <input matInput [(ngModel)]="filter.name" name="name" (ngModelChange)="applyFilter()" placeholder="Search by name">
                    </mat-form-field>
                  </div>
              </div>
              <button mat-raised-button color="primary" type="submit">Apply filters</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  
    <div class="row mb-4">
      <div class="col-md-12">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Patients list</h4>
            <div *ngIf="isLoading" class="text-center">
              <mat-spinner></mat-spinner> 
            </div>
            <div *ngIf="!isLoading && patients.length === 0">
              <p>No appointments that meet required criteria.</p>
            </div>
            <div *ngIf="patients.length > 0">
              <table mat-table [dataSource]="patients" class="table">
            
                <ng-container matColumnDef="fullName">
                    <th mat-header-cell *matHeaderCellDef> Patient Name </th>
                    <td mat-cell *matCellDef="let patient"> dr. - {{ patient.fullName }} </td>
                </ng-container>
            
                <ng-container matColumnDef="specialization">
                    <th mat-header-cell *matHeaderCellDef> Specialization </th>
                    <td mat-cell *matCellDef="let patient">
                        {{ patient.specialization }}
                        <!-- <button mat-button (click)="showDoctorDetails(doctor.id)">Contact info</button> -->
                    </td>
                </ng-container>
            
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  
    <div class="row">
      <div class="col-md-12 text-center">
        <mat-paginator 
          [length]="totalElements" 
          [pageSize]="filter.size" 
          [pageIndex]="filter.page"
          [pageSizeOptions]="[5, 10, 20]" 
          (page)="onPageChange($event)">
        </mat-paginator>
      </div>
    </div>
    
  </div>
  