<div class="container d-flex justify-content-center align-items-center" style="min-height: 100vh;">
    <mat-card class="user-info-card col-md-8">
      <div class="d-flex justify-content-start mb-3">
        <button mat-stroked-button color="accent" (click)="navigateToBoard()">
          <mat-icon>arrow_back</mat-icon> Back to Dashboard
        </button>
      </div>
  
      <mat-card-header>
        <mat-card-title>Medicine Details</mat-card-title>
        <button mat-icon-button (click)="toggleEdit()">
          <mat-icon>{{ isEditing ? 'check' : 'edit' }}</mat-icon>
        </button>
      </mat-card-header>
  
      <mat-card-content>
        <form [formGroup]="medicineForm">
          <div *ngIf="!isEditing">
            <p><strong>Name:</strong> {{ medicineDetails?.name }}</p>
            <p><strong>Category:</strong> {{ medicineDetails?.category }}</p>
            <p><strong>Dosage Form:</strong> {{ medicineDetails?.dosageForm }}</p>
            <p><strong>Manufacturer:</strong> {{ medicineDetails?.manufacturer }}</p>
          </div>
          <div *ngIf="isEditing">
            <div class="form-group mb-3">
              <mat-form-field appearance="fill" class="w-100">
                <mat-label>Name</mat-label>
                <input matInput formControlName="name" />
              </mat-form-field>
            </div>
  
            <div class="form-group mb-3">
              <mat-form-field appearance="fill" class="w-100">
                <mat-label>Category</mat-label>
                <input matInput formControlName="category" />
              </mat-form-field>
            </div>
  
            <div class="form-group mb-3">
              <mat-form-field appearance="fill" class="w-100">
                <mat-label>Dosage Form</mat-label>
                <input matInput formControlName="dosageForm" />
              </mat-form-field>
            </div>
  
            <div class="form-group mb-3">
              <mat-form-field appearance="fill" class="w-100">
                <mat-label>Manufacturer</mat-label>
                <input matInput formControlName="manufacturer" />
              </mat-form-field>
            </div>
  
            <div class="form-group mb-3 text-center">
              <button mat-raised-button color="primary" (click)="saveChanges()">Save</button>
            </div>
          </div>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
  